*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #fff;
}

#stats{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: #f1f5f9;
}

.logo-img{
    width: 65px;
    float: left;
}

.stat-text{
    text-align: left;
}

#timely-stats{
    margin-left: 20px;
}
.schedule-logo{
    width: 50px;
    margin-left: 15px;
}


.card-body{
    background-color: skyblue;
}


/* ROW */
.row-top{
    margin: 4rem 8rem 4rem 8rem;

}
.row-1{
    margin-bottom: 3rem;
}

.card-body{
    display: flex;
    justify-content: space-between;
}

main{
    display: flex 50%;
}

/* .card{
     border: 1px solid #fff;
     border-radius: 30px;
     text-align: center;
     background: #f1f5f9;
     color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */



/* Main-content */
header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
}

.quote{

}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-right: 50px;
}

.search-wrapper span{
    display: inline-block;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.message-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.message-wrapper span{
    display: inline-block;
    padding: 0 .5rem;
    font-size: 1.5rem;
    
}

.message-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

main{
    /* margin-top: 85px; */
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin-bottom: 5rem;
    
}

.card-single{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2px;
}

.card-single span:first-child span{
    color: gray;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: #FF5D5D;
}

.cards-weekly{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 3rem;
}